@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
///@import "./argon.css";
@import "./_variables";


html,body {
    box-sizing: border-box;
    font-family: $default-font-family;
    height: 100vh;
    font-size: $default-font-size;
    font-weight: 500;
    color: $default-font-color;
    background-color: $default-body-bg;
}